.button {
  border: #ffff00 5px solid;
  color: #ffff00;
  background-color: #0000ff;
  cursor: pointer;
  font-family: DOSFont, 'Courier New', Courier, monospace;
  padding: 5px;
}

.cantBuy {
  border: #C0C0C0 5px solid;
  color: #C0C0C0;
}