@font-face {
  font-family: DOSFont;
  src: url(MorePerfectDOSVGA.ttf);
}

body {
  margin: 0;
  font-family: DOSFont, 'Courier New', Courier, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0000ff;
  color: white;
}

